{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Upload Image for Emotion Detection</h1>
    <form action="{{ url_for('recommendation.upload_image') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Upload and Analyze</button>
    </form>
    {% if error_message %}
        <h2>{{ error_message }}</h2>
        <p>Please try uploading a different image.</p>
    {% endif %}
</div>
{% endblock %}

